{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid pl-0 pr-0">
<!--======================================== BANNER ========================================-->  
        <a href="">
            <div class="shop-now-banner col-12">
                <h2>Check out our latest range of fantastic coffee!</h2>
            </div>
        </a>
<!--======================================== HERO IMAGE ========================================-->
        <img src="{{ MEDIA_URL }}homepage_background_cropped.jpg" alt="" class="img-fluid" id="hero-image">
<!--======================================== HOME PAGE CONTENT ========================================-->
        <div class="col-12">
            
        </div>
    </div>
{% endblock %}