{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="profile-container">
        <div class="row">
            <div class="col">
                <h2 class="heading">My Profile</h2>
                <hr class="heading-hr">
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 profile-body">
                <h4 class="profile-heading">Default Delivery Information</h4>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <p class="text-center">
                        <button class="btn btn-lg update-info-button">Update Information</button>
                    </p>
                </form>
            </div>
            <div class="col-12 col-lg-6 profile-body">
                <h4 class="profile-heading">Order History</h4>
                {{ orders }}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}