* {
    font-size: 10px;
    padding: 0;
    margin: 0;
}

/*--------------------------------------------Special Padding/Margins/Text*/
.row {
    margin: 0;
}

a:hover,
a:active,
a:focus,
a:active:focus {
    color: #000;
}

.heading {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    padding-top: 3rem;
    text-transform: uppercase;
}

.heading-hr {
    background-color: #000;
    height: 0.2rem;
    width: 10rem;
    margin-top: 0;
    margin-bottom: 2rem;
    margin: auto;
}

.search-container {
    padding: 2rem;
    padding-bottom: 1rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------------------------------------Navbar*/
.navbar {
    background-color: #3a413a;
    padding: 0 1rem;
}

.navbar-title {
    font-size: 3rem;
    color: #FFF;
}

.nav-item {
    padding: 0.5rem 2.5rem;
}

.nav-link h4 {
    font-size: 1.6rem;
    color: #FFF;
}

.nav-icon {
    font-size: 1.6rem;
    color: #FFF;
}

.menu-icon {
    padding: 0.5rem;
}

.dropdown-item {
    font-size: 1.5rem;
    background-color: #3a413a;
    color: #FFF;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    padding: 1rem;
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    border: none;
    background-color: #3a413a;
    width: 100%;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:active:focus {
    background-color: #3a413a;
    color: #6c7570;
    border: none;
}

/*--------------------------------------------Home Page*/
.shop-now-banner {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    color: #000;
    background-color: #FFD966;
    text-transform: uppercase;
}

.homepage-paragraph {
    padding: 2rem;
    font-size: 1.4rem;
    margin-top: 3rem;
}

.home-container {
    margin-bottom: 5rem;
}

#hero-image {
    width: 100%;
    min-height: 35vh;
    max-height: 70vh;
}

#homepage-coffee-beans {
    padding: 1rem;
    margin-top: 4rem;
}

/*--------------------------------------------Footer*/
footer {
    background-color: #3A413A;
    min-height: 5rem;
    width: 100%;
    margin-top: 2rem;
}

.footer-col {
    padding: 0;
}

#app-store-icons {
    margin: auto;
    display: block;
    padding: 0.5rem;
}

.social-icons-container {
    text-align: center;
}

.social-icon {
    color: #FFF;
    font-size: 3rem;
    padding: 1rem 0.5rem;
    text-decoration: none;
}

.social-icon:hover {
    color: #118AB2;
    transform: scale(1.2);
    transition: 0.2s;
}

.copyright {
    font-size: 1.2rem;
    color: #FFF;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 7rem 0;
}

.footer-content a {
    font-size: 1.4rem;
    padding: 1rem;
    color: #FFF;
    display: block;
    text-align: center;
}

.footer-heading {
    padding: 1rem;
    text-align: center;
    color: #FFF;
    font-size: 1.6rem;
    text-decoration: underline;
    margin: 0;
}

/*--------------------------------------------Product Page*/

.product-section {
    padding-top: 2rem;
    min-height: 60vh;
}

.product-heading {
    font-size: 1.6rem;
    padding: 0.5rem;
}

.product-body {
    padding-bottom: 2rem;
}

.category-icon {
    margin-right: 1rem;
}

.category-link {
    color: #000;
}

.results-text {
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem;
}

.results-text a {
    font-size: 1.4rem;
}

.results-text span {
    font-size: 1.4rem;
}

.results-text strong {
    font-size: 1.4rem;
}

.fa-search {
    font-size: 1.4rem;
}

/*--------------------------------------------Product Detail Page*/
.product-image-section {
    padding-top: 4rem;
}

.product-details-main-heading {
    font-size: 3rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
}

.product-details-heading {
    font-size: 1.6rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
}

.product-details-image {
    padding-bottom: 4rem;
}

.category-icon-product-details {
    font-size: 1.6rem;
    margin-right: 1rem;
}

.product-order-heading {
    font-size: 1.6rem;
}

.product-order-main-heading {
    font-size: 3rem;
    padding-bottom: 2rem;
    font-weight: bold;
    text-align: center;
}

.product-order-small-heading {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.add-to-bag-button {
    border: 2px solid #000;
    font-size: 1.6rem;
    background-color: #FFD966;
    font-weight: bold;
}

.product-order-container {
    padding-bottom: 4rem;
}

.plus-minus-button {
    border: 1px solid #000;
    background-color: #000;
    color: #FFF;
}

/*--------------------------------------------Sort/Filtering Menu*/
.sort-by-body {
    text-align: center;
    padding: 1rem;
}

.sort-by-body a {
    font-size: 1.4rem;
    padding: 1rem;
    color: #000;
}

.sort-by-heading {
    padding: 0.5rem;
}

.sort-by-container {
    background-color: #EEE;
    margin: 2rem 0;
}

#sort-selector {
    border: 1px solid #000;
    font-size: 1.4rem;
    justify-content: center;
    width: 50%;
}

#sort-selector option {
    font-size: 1.4rem;
}

.category-selected-box {
    border: 1px solid #000;
    font-size: 1.4rem;
    padding: 0.5rem;
    text-align: center;
    color: #000;
    font-weight: bold;
}

.category-selected-container {
    text-align: center;
    padding: 1rem;
}

.category-selected-text {
    font-size: 1.2rem;
}

/*--------------------------------------------Shopping Bag Page*/
.bag-container {
    min-height: 70vh;
    margin-bottom: 5rem;
}

.bag-body {
    background-color: #EEE;
    margin-top: 3rem;
    text-align: center;
    padding: 2rem;
}

#bag-image {
    height: 15rem;
    width: 15rem;
}

.bag-paragraph {
    font-size: 1.6rem;
    padding: 1rem 0;
}

.bag-hr {
    margin: 2rem 0;
    background-color: #000;
}

.form-group {
    padding: 1rem 0;
}

.keep-shopping-button {
    background-color: #EEE;
    border: 2px solid #000;
    font-size: 1.6rem;
    margin: 2rem;
    font-weight: bold;
}

.secure-checkout-button {
    background-color: #FFD966;
    border: 2px solid #000;
    font-size: 1.6rem;
    margin: 2rem;
    font-weight: bold;
}

.bag-total-heading, .bag-total-heading strong {
    font-size: 1.6rem;
}

.bag-total-delivery-heading, .bag-total-delivery-heading strong {
    font-size: 1.6rem;
}

.fa-lock {
    font-size: 1.4rem;
}

.update-link, .remove-item {
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0.8rem;
}

/*--------------------------------------------Toasts*/
.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast-body {
    font-size: 1.4rem;
    padding: 1rem;
}

.toast-header strong, .toast-header {
    font-size: 1.4rem;
}

.close-icon {
    font-size: 2rem;
}

.bag-toast-paragraph, .bag-toast-paragraph strong, .bag-toast-paragraph span {
    font-size: 1.4rem;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ - Part of Toasts*/
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap - Part of Toasts */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/*--------------------------------------------Checkout Page*/

.checkout-container {
    margin-bottom: 5rem;
}

.checkout-paragraph, .checkout-paragraph small, .checkout-paragraph strong  {
    font-size: 1.4rem;
}

.adjust-bag-button {
    background-color: #EEE;
    border: 1px solid #000;
    margin-bottom: 1rem;
}

.adjust-bag-button span {
    font-size: 1.4rem;
    font-weight: bold;
}

.complete-order-button {
    background-color: #FFD966;
    border: 1px solid #000;
    margin-bottom: 1rem;
}

.complete-order-button span {
    font-size: 1.4rem;
    font-weight: bold;
}

.checkout-card-charge, .checkout-card-charge strong {
    font-size: 1.2rem;
}

.checkout-paragraph-summary {
    font-size: 1.4rem;
    margin-top: 5rem;
}
/*--------------------------------------------Checkout Page*/

#about-hero-image {
    opacity: 0.8;
    width: 100%;
    min-height: 35vh;
    max-height: 70vh;
}

.about-paragraph {
    font-size: 1.4rem;
    padding: 2rem 0;
}

.about-main-content {
    margin-top: 3rem;
}

.about-container {
    margin-bottom: 5rem;
}

/*--------------------------------------------Contact Page*/

.contact-container {
    margin-bottom: 5rem;
}

.contact-heading {
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
}

.contact-paragraph {
    font-size: 1.4rem;
    margin-top: 2rem;
    text-align: center;
}

.contact-form-button {
    background-color: #FFD966;
    border: 2px solid #000;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.contact-body {
    background-color: #EEE;
    padding: 0 2rem;
}

.contact-header {
    background-color: #EEE;
    margin-top: 3rem;
}

/*--------------------------------------------Email Success Page*/
.email-success-container {
    margin-bottom: 5rem;
    min-height: 70vh;
}
.back-to-home-button {
    background-color: #FFD966;
    border: 2px solid #000;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.email-success-header {
    margin-top: 5rem;
    background-color: #EEE;
}

.email-success-body {
    background-color: #EEE;
}

.email-success-heading {
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
}

.email-success-paragraph {
    font-size: 1.4rem;
    text-align: center;
    margin-top: 5rem;
}

/*--------------------------------------------Forms*/

label {
    font-size: 1.4rem;
}

.fieldset-label {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-decoration: underline;
}

.form-check-label, .form-check-label a {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.form-control {
    border: 1px solid #000;
    font-size: 1.4rem;
}

#order-form {
    padding-top: 2rem;
}

.form-group-button {
    text-align: center;
    padding: 2rem;
}

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 4rem;
  padding: 1rem 1.2rem;
  border: 2px solid #DDD;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}