* {
    font-size: 10px;
}
/*--------------------------------------------Special Padding/Margins/Text*/
a:hover,
a:active,
a:focus,
a:active:focus {
    color: #000;
}
/*--------------------------------------------Navbar*/
.navbar {
    background-color: #3a413a;
    padding: 0 1rem;
}

.navbar-title {
    font-size: 3rem;
    color: #FFF;
}

.nav-item {
    padding: 0.5rem 2.5rem;
}

.nav-link h4 {
    font-size: 1.6rem;
    color: #FFF;
}

.nav-icon {
    font-size: 1.6rem;
    color: #FFF;
}

.menu-icon {
    padding: 0.5rem;
}

.dropdown-item {
    font-size: 1.5rem;
    background-color: #3a413a;
    color: #FFF;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    padding: 1rem;
}

.dropdown-menu {
    padding: 0;
    margin: 0;
    border: none;
    background-color: #3a413a;
    width: 100%;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item:active:focus {
    background-color: #3a413a;
    color: #6c7570;
    border: none;
}
/*--------------------------------------------Images*/
#hero-image {
    width: 100%;
    min-height: 35vh;
    max-height: 70vh;
}
/*--------------------------------------------Home Page*/
.shop-now-banner {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    color: #000;
    background-color: #FFD966;
    text-transform: uppercase;
}