{% extends "base.html" %}
{% load static %}

{% block content %}
<!--======================================== BLOG/BREWTORIALS PAGE ========================================-->
<div class="blog-container">
    <div class="row">
        <div class="col">
            <h2 class="heading">Brewtorials</h2>
            <hr class="heading-hr">
        </div>
    </div>
<!--======================================== BLOG/BREWTORIALS CONTENT - CODE FROM YOUTUBE TUTORIAL ========================================-->
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 mb-2 blog-add-section">
            {% if request.user.is_superuser %}
                <a href="{% url 'add_post' %}" class="blog-add-link">Create New Post</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% for post in posts %}
            <div class="col-12 col-md-8 offset-md-2 mb-2">
                <div class="blog-main-content">
                    <h3 class="blog-title">{{ post.title }}</h3>
                    <hr>
                    <p class="blog-date">Posted at {{ post.date_added }}</p>
                    <hr>
                    <a href="{% url 'blog_detail' post.slug %}" class="blog-read-more-link">Read More</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}