{% extends "base.html" %}
{% load static %}

{% block content %}
<!--======================================== BLOG/BREWTORIALS PAGE ========================================-->
<div class="blog-container">
    <div class="row">
        <div class="col">
            <h2 class="heading">Brewtorials</h2>
            <hr class="heading-hr">
        </div>
    </div>
<!--======================================== BLOG/BREWTORIALS CONTENT ========================================-->
    <div class="row">
            <div class="col-12 col-md-8 offset-md-2 mb-2">
                <div class="blog-main-content">
                    <h3 class="blog-title">{{ post.title }}</h3>
                    <hr>
                    <p class="blog-date">Posted at {{ post.date_added }}</p>
                    <hr>
                    <p class="blog-paragraph">{{ post.body|linebreaksbr }}</p>
                </div>
            </div>
    </div>
<!--======================================== BLOG/BREWTORIALS COMMENTS ========================================-->
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 mb-2">
            <div class="blog-comments-section">
                <h2 class="heading">Comments</h2>
                <hr class="heading-hr">
                <div class="blog-comments-container">
                    {% for comment in post.comments.all %}
                        <div class="user-comments"></div>
                            <p class="blog-paragraph">{{ comment.name }}</p>
                            <p class="blog-date">{{ comment.date_added }}</p>
                            <p class="blog-paragraph">{{ comment.body }}</p>
                            <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
<!--======================================== BLOG/BREWTORIALS ADD COMMENT SECTION ========================================-->
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 mb-2">
            <div class="blog-comments-section">
                <h2 class="heading">Add Comment</h2>
                <hr class="heading-hr">
                <div class="blog-comments-container">
                    <form method="POST" action="{% url 'blog_detail' post.slug %}">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div>
                            <div class="text-center">
                                <button class="add-comment-button">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}