{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
    <div class="all-auth-header">
        <h2 class="heading">{% trans "Change Password" %}</h2>
        <hr class="heading-hr">
    </div>

    <div class="all-auth-body">
        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form|crispy }}
            <p class="all-auth-paragraph">
                <button type="submit" class="all-auth-button" name="action">{% trans "Change Password" %}</button>
            </p>
            <p class="all-auth-paragraph">
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </p>
        </form>
    </div>
{% endblock %}
