{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
    <div class="all-auth-header">
        <h2 class="heading">{% trans "Set Password" %}</h2>
        <hr class="heading">
    </div>
    <div class="all-auth-body">
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            {{ form|crispy }}
            <p class="all-auth-paragraph">
                <input type="submit" name="action" class="all-auth-button" value="{% trans 'Set Password' %}"/>
            </p>
        </form>
    </div>
{% endblock %}
