{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block inner_content %}
<div class="all-auth-header">
    <h2 class="heading">{% trans "Verify Your E-mail Address" %}</h2>
    <hr class="heading-hr">
</div>
<div class="all-auth-body">
    <p class="all-auth-paragraph">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
</div>
{% endblock %}
