{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="contact-container">
    <div class="row">
        <div class="col">
            <h2 class="heading">Contact</h2>
            <hr class="heading-hr">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 contact-header">
            <div class="contact-main-content">
                <h4 class="contact-heading">Want to contact us?</h4>
                <p class="contact-paragraph">Please find out details below</p>
            </div>
            <div class="contact-main-content">
                <p class="contact-paragraph"><strong>Email</strong> - admin@blacktooth-coffee.com</p>
            </div>
            <div class="contact-main-content">
                <p class="contact-paragraph"><strong>Phone</strong> - 07932-528 636</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}