{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="contact-container">
    <div class="row">
        <div class="col">
            <h2 class="heading">Contact</h2>
            <hr class="heading-hr">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2 contact-header">
            <div class="contact-main-content">
                <h4 class="contact-heading">Want to contact us?</h4>
                <p class="contact-paragraph">Please find out details below</p>
            </div>
            <div class="contact-main-content">
                <p class="contact-paragraph"><strong>Email - </strong><a href="mailto:admin@blacktooth-coffee.com?subject=I%20have%20an%20enquiry" target="_blank">admin@blacktooth-coffee.com</a></p>
            </div>
            <div class="contact-main-content">
                <p class="contact-paragraph"><strong>Phone - </strong><a href="tel:07123-456-789">07123-456-789</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}